$screen-sm: 500px;
$screen-md: 764px;
$screen-bg: 1024px;

#about{
    background-color: rgba($color: #21282D, $alpha: 0.86);
    padding: 5em;
    max-width: 100%;

    display: flex;
    flex-direction: column;


}

.sobre{
    color: rgba($color: #EDE9E9, $alpha: 0.80);
    
    
    h1{
        text-transform: uppercase;
        font-weight: 400;
    }
    p{
        text-align: justify;
        width: 25em;
    }

    .content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        margin: 3em 0;

        @media screen and (min-width: $screen-md) {

            flex-direction: row;
        }

        img{
            border-radius: 50%;
            max-width: 100%;

            @media screen and (min-width: $screen-md) {
                width: 50%;
            }

            @media screen and (min-width: $screen-bg) {
                max-width: 30em;
            }
        }
    }
}

#contato{
    background-color: #5E6777;
    margin: 0;
    padding: 5em 0;
    
    @media screen and (min-width: $screen-md) {
        padding: 5em;
    }
    

    .dados{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @media screen and (min-width: $screen-md) {
            flex-direction: row;
            justify-content: flex-start;
        }
        
        p{
            text-align: center;

            @media screen and (min-width: $screen-md) {
                text-align: left;
            }

        }
        a{
            text-decoration: none;
            color: rgba($color: #EDE9E9, $alpha: 0.80);
            margin: 0;
            padding: 0;

            &:hover{
                color: #FF4444;
            }
        }
    }

}