#carousel{
    h1{
        font-weight: 400;
        color: #DB8080;
        text-transform: uppercase;
    }

    img{
        width: 5em;
        margin-bottom: 2em;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;



    border: solid #DB8080 3px;
    border-radius: 15px;
    padding: 3em;
    margin: 3em;
}