#skills{
    min-height: 35em;
    margin: 0;
    background-color: #21282D;
    color: rgba($color: #EDE9E9, $alpha: 0.8);
    padding: 7em 0;

    h1{
        margin: 0;
    }

    .carousel{
        
        display: flex;
        justify-content: space-around;


        .slider{
            position: relative;
            display: flex; 
            max-width: 80%; 

            .item{
                height: 100%;
            }
        }

        .slick-dots li.slick-active button:before {
            color:#DB8080 !important;
        }
    }

    
}
